body {
  background-image: url("github.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  font-family:  Arial, sans-serif;
  border-top: 5px solid #9d85d1;
  margin: 0px auto;
  font-size: 12px;
  color: #f3efef;
  font-size: 16px;
}

header {
  text-align: center;
  background-color: #1a1919;
  border-bottom: 1px solid #e5e2e0;
}

#logo {
  position: relative;
  top: -2px;
}

#block {
  width: 1050px;
  margin: 0px auto;
  min-height: 750px;
  text-align: center;
}

.details, .userImage {
  vertical-align: middle;
  display: none;
}

.details {
  text-align: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search {
  text-align: center;
  margin: 50px auto;
}

h1 {
  padding: 6px;
}

.profile {
  height: 130px;
  width: 150px;
  padding: 90px 30px 0;
  display: block;
  background-color: purple;
  text-decoration: none;
  color: white;
  font-width: bold;
}

.profile:hover {
  background-color: #c5bcc5;
}



